<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<head>

  <title th:text="#{title.login}"></title>

  <style></style>

  <script type="text/javascript">
  </script>

</head>

<body>

<div layout:fragment="content">

  <!-- LIGHT SECTION -->
  <section class="lightSection clearfix pageHeader">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="page-title">
            <h2>log in</h2>
          </div>
        </div>
        <div class="col-md-6">
          <ol class="breadcrumb float-right">
            <li>
              <a th:href="@{/}">Home</a>
            </li>
            <li class="active">log in</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix logIn">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 col-lg-8 col-xl-7 col-12">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>log in</h3></div>
            <div class="panel-body">

              <!--/*@thymesVar id="LOGIN_FORM" type="net.banaru.team.web.dto.LoginForm"*/-->
              <form id="login_form"
                    th:object="${LOGIN_FORM}"
                    th:action="@{/login/process}"
                    method="post"
                    role="form">

                <input type="hidden" name="_saveId" value="on" />

                <div class="form-group">
                  <label th:for="memberId">Member ID</label>
                  <input type="text"
                         th:field="*{memberId}"
                         placeholder="Member ID"
                         class="form-control"
                         autofocus />
                </div>
                <div class="form-group">
                  <label th:for="password">Password</label>
                  <input type="password"
                         th:field="*{password}"
                         class="form-control"
                         placeholder="Password" />
                </div>
                <div class="form-check ">
                  <!--/*
                    Spring MVCの仕様でcheckboxの次にhiddenタグが追加される。checkboxのチェック状態を
                    実際submitしてくれる仕様であるが、それのせいでデザインが崩れてしまう。
                    以下はそれの回避策である。（デザインの崩れがない場合そのまま使うのをおすすめする。）

                    回避策
                    1.手動でhiddenタグを追加する。（58行）
                    2."th:field"を使わずに、手動で"id"、"name"を設定する。
                    3."value"に固定値で"true"を設定する。
                    （"value"を設定しないと、"on"またはnullがsubmitされる。）
                  */-->
                  <input type="checkbox"
                         id="saveId"
                         name="saveId"
                         class="checkbox-custom form-check-input"
                         value="true"
                         th:checked="*{saveId}" />
                  <!--/*
                    https://github.com/thymeleaf/thymeleaf-spring/issues/68#issuecomment-64497345
                    <input type="checkbox"
                           th:field="*{saveId}"
                           class="checkbox-custom form-check-input" />
                  */-->
                  <label th:for="saveId" class="checkbox-custom-label form-check-label">Remember me</label>
                </div>
                <button type="submit" class="btn btn-primary btn-default btn-block">log in</button>
                <!--/*
                  <div class="d-block social-login text-center">
                    <button class="btn btn-social titled facebook float-lg-left">
                      <i class="fa fa-facebook-f"></i> log in with facebook
                    </button>
                    <button class="btn btn-social titled google-plus float-lg-right">
                      <i class="fa fa-google-plus"></i> log in with google-plus
                    </button>
                  </div>
                */-->
                <button type="button" class="btn btn-link btn-block">Forgot Password?</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

</body>

</html>
