<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<head>

  <title th:text="#{title.main}"></title>

  <style>  </style>

  <script type="text/javascript">
  </script>

</head>

<body>

<div layout:fragment="content">

  <!-- BANNER -->
  <div class="bannercontainer px-0 container-fluid">
    <div class="row bannerV3 no-gutters">
      <!-- Banner content area -->
      <div class="col-md-6">
        <div class="d-none d-md-block bg-image-box" style="background-image: url('static/img/home/bg-banner3.jpg');">

        </div>
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <div class="slide">
          <div class="slider-title">
            <h3><span>Featured</span> Deals</h3>
          </div>
          <div class="slide-info">
            <div class="productImage">
              <img class="img-fluid" th:src="@{/static/img/home/banner-slider/slider-img4.png}" alt="Product Image">
            </div>
            <div class="productCaption">
              <div class="banner-count clearfix">
                <div class="slider_timer"></div>
              </div>
              <h4>Small Forest Hatchet</h4>
              <div class="productMeta">
                <span class="offer-price">$50.00</span>
                <span class="regular-price"><del>$80.00</del></span>
                <span class="offer">50% off</span>
              </div>
              <a href="#" class="btn primary-btn">Buy Now<i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Banner content area ends -->
    </div>
  </div>

  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <!-- DEAL SECTION -->
      <div class="page-header">
        <h4>Featured Products</h4>
      </div>

      <div class="row dealSlider dealSection">

        <div class="slide col-md-4">
          <div class="imageBox">
            <div class="productDeal clearfix">
              <h3>End In <span>20 Oct</span></h3>
              <span class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </span>
            </div>
            <div class="productImage clearfix">
              <a href="single-product.html"><img th:src="@{/static/img/home/product-deal/product-1.jpg}" alt="Product Image"></a>
            </div>
            <div class="productCaption clearfix text-center">
              <h3><a href="single-product.html">Mauris efficitur</a></h3>
              <span class="offer-price">$50.00</span>
              <span class="regular-price"><del>$80.00</del></span>
              <a href="single-product.html" class="btn btn-border">Buy Now<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="slide col-md-4">
          <div class="imageBox">
            <div class="productDeal clearfix">
              <h3>End In <span>20 Oct</span></h3>
              <span class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </span>
            </div>
            <div class="productImage clearfix">
              <a href="single-product.html"><img th:src="@{/static/img/home/product-deal/product-2.jpg}" alt="Product Image"></a>
            </div>
            <div class="productCaption clearfix text-center">
              <h3><a href="single-product.html">Mauris efficitur</a></h3>
              <span class="offer-price">$50.00</span>
              <span class="regular-price"><del>$80.00</del></span>
              <a href="single-product.html" class="btn btn-border">Buy Now<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="slide col-md-4">
          <div class="imageBox">
            <div class="productDeal clearfix">
              <h3>End In <span>20 Oct</span></h3>
              <span class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </span>
            </div>
            <div class="productImage clearfix">
              <a href="single-product.html"><img th:src="@{/static/img/home/product-deal/product-3.jpg}" alt="Product Image"></a>
            </div>
            <div class="productCaption clearfix text-center">
              <h3><a href="single-product.html">Mauris efficitur</a></h3>
              <span class="offer-price">$50.00</span>
              <span class="regular-price"><del>$80.00</del></span>
              <a href="single-product.html" class="btn btn-border">Buy Now<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="slide col-md-4">
          <div class="imageBox">
            <div class="productDeal clearfix">
              <h3>End In <span>20 Oct</span></h3>
              <span class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </span>
            </div>
            <div class="productImage clearfix">
              <a href="single-product.html"><img th:src="@{/static/img/home/product-deal/product-1.jpg}" alt="Product Image"></a>
            </div>
            <div class="productCaption clearfix text-center">
              <h3><a href="single-product.html">Mauris efficitur</a></h3>
              <span class="offer-price">$50.00</span>
              <span class="regular-price"><del>$80.00</del></span>
              <a href="single-product.html" class="btn btn-border">Buy Now<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>

      </div>

      <!-- FEATURE PRODUCT SECTION -->
      <div class="row featuredProducts version3">
        <div class="col-12">
          <div class="tabCommon">
            <ul class="nav nav-tabs">
              <li><a class="active" data-toggle="tab" href="#menu1">New Araivals</a></li>
              <li><a data-toggle="tab" href="#menu2">Top Rated</a></li>
              <li><a data-toggle="tab" href="#menu3">On Sale</a></li>
            </ul>
            <div class="tab-bottom">
            </div>
            <div class="tab-content">
              <div id="menu1" class="tab-pane fade show active">
                <div class="row">
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img7.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">Nike Sportswear</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img8.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">Scarf Ring Corner</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img9.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">Sun Buddies</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img10.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">Mauris efficitur</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img11.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">Nike Sportswear</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img12.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">porro quisquam</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img13.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">enim ad minim</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img3.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">sunt in culpa</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="menu2" class="tab-pane fade">
                <div class="row">
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img6.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">Mauris efficitur</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img5.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">Mauris efficitur</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img4.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">Mauris efficitur</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img3.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">Mauris efficitur</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img11.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">Nike Sportswear</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img12.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">porro quisquam</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img13.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">enim ad minim</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img3.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">sunt in culpa</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="menu3" class="tab-pane fade">
                <div class="row">
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img5.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">Mauris efficitur</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img3.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">Mauris efficitur</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img8.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">Scarf Ring Corner</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img9.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">Sun Buddies</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img10.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">Mauris efficitur</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img11.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">Nike Sportswear</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img6.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">Mauris efficitur</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12">
                    <div class="imageBox">
                      <div class="productImage clearfix">
                        <a href="single-product.html">
                          <img th:src="@{/static/img/home/featured-product/product-img4.jpg}" alt="featured-product-img">
                        </a>
                        <div class="productMasking">
                          <ul class="list-inline btn-group" role="group">
                            <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="fa fa-shopping-basket"></i></a></li>
                            <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="productCaption clearfix">
                        <h5><a href="single-product.html">Mauris efficitur</a></h5>
                        <h3>$199</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- FEATURE -->
      <div class="row features version2">
        <div class="col-md-4 col-12">
          <div class="box text-center">
            <i class="fa fa-truck" aria-hidden="true"></i>
            <h4>Free Shipping </h4>
            <span>Excepteur sint occaecat cupidatat.</span>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="box text-center">
            <i class="fa fa-money" aria-hidden="true"></i>
            <h4>100% money back</h4>
            <span>Excepteur sint occaecat cupidatat.</span>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="box text-center">
            <i class="fa fa-headphones" aria-hidden="true"></i>
            <h4>24/7 support</h4>
            <span>Excepteur sint occaecat cupidatat.</span>
          </div>
        </div>
      </div>

      <!-- TESTIMONIAL SECTION -->
      <div class="row testimonialSection">
        <div class="col-12">
          <div class="owl-carousel testimonialSlider">

            <div class="slide">
              <div class="testimonial-inner">
                <div class="testimonialImage text-center">
                  <img th:src="@{/static/img/home/testimonial/testimonial-img1.png}" alt="Image">
                </div>
                <div class="testimonialText">
                      <span class="product-rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-full" aria-hidden="true"></i>
                      </span>
                  <div class="testimonial-content">
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                    <div class="author-img">
                      <img th:src="@{/static/img/home/testimonial/author1.png}" alt="Image">
                    </div>
                    <cite>Sarah Smith</cite>
                  </div>
                </div>
              </div>
            </div>

            <div class="slide">
              <div class="testimonial-inner">
                <div class="testimonialImage text-center">
                  <img th:src="@{/static/img/home/testimonial/testimonial-img1.png}" alt="Image">
                </div>
                <div class="testimonialText">
                      <span class="product-rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-full" aria-hidden="true"></i>
                      </span>
                  <div class="testimonial-content">
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                    <div class="author-img">
                      <img th:src="@{/static/img/home/testimonial/author1.png}" alt="Image">
                    </div>
                    <cite>Sarah Smith</cite>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </section>


  <!-- LIGHT SECTION -->
  <section class="lightSection clearfix">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="partnersLogoSlider version2">
            <div class="slide">
              <div class="partnersLogo clearfix">
                <img th:src="@{/static/img/home/partners/partner-01.png}" alt="partner-img">
              </div>
            </div>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <img th:src="@{/static/img/home/partners/partner-02.png}" alt="partner-img">
              </div>
            </div>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <img th:src="@{/static/img/home/partners/partner-03.png}" alt="partner-img">
              </div>
            </div>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <img th:src="@{/static/img/home/partners/partner-04.png}" alt="partner-img">
              </div>
            </div>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <img th:src="@{/static/img/home/partners/partner-05.png}" alt="partner-img">
              </div>
            </div>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <img th:src="@{/static/img/home/partners/partner-01.png}" alt="partner-img">
              </div>
            </div>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <img th:src="@{/static/img/home/partners/partner-02.png}" alt="partner-img">
              </div>
            </div>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <img th:src="@{/static/img/home/partners/partner-03.png}" alt="partner-img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

</body>

</html>
