<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mypage_layout}">

<head>

  <title th:text="#{title.password.reset}"></title>

  <script type="text/javascript">

    $(function () {
      BUtils.injectValidation($('#password_form'), [(${PASSWORD_CHANGE_FORM.constraintJson})]);
    });
  </script>

</head>

<body>

<div layout:fragment="mypage_content" class="container">

  <form
    id="password_form" class="form-horizontal"
    th:action="@{/mypage/member/password}"
    th:object="${PASSWORD_CHANGE_FORM}"
    method="post">

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <h2 class="form-signin-heading" th:text="#{subtitle.password.reset}"></h2>
        <span th:if="${CHANGE_SUCCESS_FLAG}" class="alert-link" th:text="#{msg.password.reset.complete}"></span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">[(#{label.password})]</label>
      <div class="col-sm-10">
        <input type="password" th:field="*{password}" class="form-control" placeholder="Password"/>
        <div class="form-server-errors" data-server-errors="password"
             th:each="err : ${#fields.errors('password')}"
             th:text="${err}">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">[(#{label.password.confirm})]</label>
      <div class="col-sm-10">
        <input type="password" th:field="*{newPassword}" class="form-control" placeholder="New Password"
               data-parsley-match
               th:data-parsley-match-message="#{error.not.match.password}"/>
        <div class="form-server-errors" data-server-errors="newPassword"
             th:each="err : ${#fields.errors('newPassword')}" th:text="${err}"></div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">[(#{label.password.confirm})]</label>
      <div class="col-sm-10">
        <input type="password" th:field="*{confirmNewPassword}" class="form-control" placeholder="Confirm New Password"
               data-parsley-match
               th:data-parsley-match-message="#{error.not.match.password}"/>
        <div class="form-server-errors" data-server-errors="confirmNewPassword"
             th:each="err : ${#fields.errors('confirmNewPassword')}" th:text="${err}"></div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-lg btn-primary">[(#{btn.next})]</button>
      </div>
    </div>

  </form>

</div>
<!-- /mypage_content -->

</body>

</html>
