<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mypage_layout}">

<head>

  <!--<title th:text="#{title.login}"></title>-->

  <script th:src="@{/custom-js/date_select.js}"></script>

  <script type="text/javascript">

    $(function () {
      BUtils.injectValidation($('#update_form'), [(${MEMBER_UPDATE_FORM.constraintJson})]);

      initDateSelect('birthday.year', 'birthday.month', 'birthday.day');
      $('#birthday\\.year').val($('#init_year').val());
      $('#birthday\\.month').val($('#init_month').val());
      $('#birthday\\.day').val($('#init_day').val());
    });
  </script>

</head>

<body>

<div layout:fragment="mypage_content" class="container">

  <form id="update_form" class="form-horizontal"
        th:action="@{/mypage/member/update}"
        th:object="${MEMBER_UPDATE_FORM}"
        method="post">

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <h2 class="form-signin-heading" th:text="#{title.member.update.input}"></h2>
        <a th:if="${UPDATE_SUCCESS_FLAG}" href="#" class="alert-link">...</a>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">[(#{label.member.id})]</label>
      <div class="col-sm-10">
        <span th:text="${memberId}"></span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">[(#{label.country})]</label>
      <div class="col-sm-10">
        <select th:field="*{memberCountryCode}" class="form-control">
          <option
            th:each="country: ${global.supportedCountries}"
            th:value="${country.countryCode}"
            th:text="${country.displayName}">
          </option>
        </select>
        <div class="form-server-errors" data-server-errors="memberCountryCode"
             th:each="err : ${#fields.errors('memberCountryCode')}"
             th:text="${err}"></div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">[(#{label.name})]</label>
      <div class="col-sm-10">
        <input type="text" th:field="*{name.name1}" class="form-control" placeholder="Name">
        <div class="form-server-errors" data-server-errors="name.name1"
             th:each="err : ${#fields.errors('name.name1')}"
             th:text="${err}"></div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">[(#{label.email})]</label>
      <div class="col-sm-10">
        <input type="email" th:field="*{email}" class="form-control" placeholder="E-mail">
        <div class="form-server-errors" data-server-errors="email"
             th:each="err : ${#fields.errors('email')}"
             th:text="${err}"></div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">[(#{label.birthday})]</label>
      <div class="col-sm-2">
        <select th:field="*{birthday.year}" class="form-control"></select>
        <div class="form-server-errors" data-server-errors="year" th:each="err : ${#fields.errors('birthday.year')}"
             th:text="${err}"></div>
        <input type="hidden" id="init_year" th:value="*{birthday.year}"/>
      </div>
      <div class="col-sm-1">
        <select th:field="*{birthday.month}" class="form-control"></select>
        <div class="form-server-errors" data-server-errors="month" th:each="err : ${#fields.errors('birthday.month')}"
             th:text="${err}"></div>
        <input type="hidden" id="init_month" th:value="*{birthday.month}"/>
      </div>
      <div class="col-sm-1">
        <select th:field="*{birthday.day}" class="form-control"></select>
        <div class="form-server-errors" data-server-errors="day" th:each="err : ${#fields.errors('birthday.day')}"
             th:text="${err}"></div>
        <input type="hidden" id="init_day" th:value="*{birthday.day}"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">[(#{label.gender})]</label>
      <div class="col-sm-2">
        <select th:field="*{gender}" class="form-control">
          <option th:each="gender: ${T(net.banaru.team.service.enums.Gender).values()}" th:value="${gender}">
            [(${gender})]
          </option>
        </select>
        <div class="form-server-errors" data-server-errors="gender" th:each="err : ${#fields.errors('gender')}"
             th:text="${err}"></div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">[(#{label.phoneNo})]</label>
      <div class="col-sm-10">
        <input type="text" th:field="*{phoneNo}" class="form-control" placeholder="Phone Number">
        <div class="form-server-errors" data-server-errors="phoneNo" th:each="err : ${#fields.errors('phoneNo')}"
             th:text="${err}"></div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-lg btn-primary">[(#{btn.next})]</button>
      </div>
    </div>

  </form>

</div>
<!-- /mypage_content -->

</body>

</html>
