<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

  <title>Base Layout</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{/custom-plugins/bootstrap/bootstrap.min.css}"/>
  <!-- Footer CSS -->
  <link rel="stylesheet" th:href="@{/css/sticky-footer-navbar.css}"/>
  <!-- Parsley -->
  <link rel="stylesheet" th:href="@{/custom-plugins/parsleyjs/parsley.css}"/>
  <!-- Custom -->
  <link rel="stylesheet" th:href="@{/custom-css/banaru_custom.css}"/>

  <!--<template layout:fragment="custom_css"></template>-->

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
  <script th:src="@{/custom-plugins/jquery/jquery.min.js}"></script>
  <script th:src="@{/custom-plugins/bootstrap/bootstrap.min.js}"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script th:src="@{/custom-plugins/parsleyjs/parsley.min.js}"></script>
  <script
    th:src="@{'/custom-plugins/parsleyjs/i18n/' + ${#request.getAttribute('global').getLanguage().getLangCode()} + '.js'}"></script>
  <script th:src="@{/custom-js/banaru_custom.js}"></script>

  <!--<template layout:fragment="custom_script"></template>-->

</head>

<body>

<template layout:fragment="header"></template>

<template layout:fragment="content"></template>

<template layout:fragment="footer"></template>

</body>

</html>
