<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

  <title layout:title-pattern="$LAYOUT_TITLE: $CONTENT_TITLE" th:text="#{title.error}"></title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{/custom-plugins/bootstrap/bootstrap.min.css}"/>
  <!-- Footer CSS -->
  <link rel="stylesheet" th:href="@{/css/sticky-footer-navbar.css}"/>
  <!-- Custom -->
  <link rel="stylesheet" th:href="@{/custom-css/banaru_custom.css}"/>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
  <script th:src="@{/custom-plugins/jquery/jquery.min.js}"></script>
  <script th:src="@{/custom-plugins/bootstrap/bootstrap.min.js}"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>

<!-- Header -->
<template th:replace="include/simple_header"></template>

<template layout:fragment="content"></template>

<!-- Footer -->
<template th:replace="include/simple_footer"></template>

</body>

</html>
