<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<head>

  <title layout:title-pattern="$LAYOUT_TITLE: $CONTENT_TITLE" th:text="#{title.mypage}"></title>

  <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>

  <script type="text/javascript">
    $(function () {
      $('#mypage_sidebar').find('ul li a').each(function () {
        var href = $(this).prop('href');
        if (location.href === href) {
          $(this).parent().addClass('active');
          return false; // each function 의 break
        }
      });
    });
  </script>

</head>

<body>

<div layout:fragment="content" class="container-fluid">

  <div id="mypage_sidebar" class="col-sm-3 col-md-2 sidebar">

    <ul class="nav nav-sidebar">
      <li>
        <a
          th:href="@{/mypage}"
          th:text="#{menu.mypage}">
        </a>
      </li>
    </ul>

    <ul class="nav nav-sidebar">
      <li>
        <a
          th:href="@{/mypage/member/update}"
          th:text="#{menu.mypage.member.update}">
        </a>
      </li>
      <li>
        <a
          th:href="@{/mypage/member/password}"
          th:text="#{menu.mypage.member.password}">
        </a>
      </li>
    </ul>

    <ul class="nav nav-sidebar">
      <li>
        <a
          th:href="@{/mypage/address}"
          th:text="#{menu.mypage.address.list}">
        </a>
      </li>
    </ul>

  </div>

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header" th:text="#{title.mypage}"></h1>
    <template layout:fragment="mypage_content"></template>
  </div>

</div> <!-- /container -->

</body>

</html>
