<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" aria-controls="navbar-ex1-collapse" aria-expanded="false" aria-label="Toggle navigation">
  <span class="fa fa-bars"></span>
</button>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown active">
      <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
      <ul class="dropdown-menu dropdown-menu-left">
        <li><a href="index.html">Home Default</a></li>
        <li><a href="index-v2.html">Home Classic</a></li>
        <li class="active"><a href="index-v3.html">Home Deals</a></li>
        <li><a href="index-v4.html">Home Mega</a></li>
        <li><a href="index-v5.html">Home Onepage</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown megaDropMenu">
      <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false">Shop</b></a>
      <ul class="dropdown-menu row">
        <li class="col-md-3 col-12">
          <ul class="list-unstyled">
            <li>Products Grid View</li>
            <li><a href="product-grid-left-sidebar.html">Products Sidebar Left</a></li>
            <li><a href="product-grid-right-sidebar.html">Products Sidebar Right</a></li>
            <li><a href="product-grid-3-col-filter.html">Products 3 Columns V1</a></li>
            <li><a href="product-grid-3-col.html">Products 3 Columns V2</a></li>
            <li><a href="product-grid-4-col.html">Products 4 Columns</a></li>
          </ul>
        </li>
        <li class="col-md-3 col-12">
          <ul class="list-unstyled">
            <li>Products List View</li>
            <li><a href="product-list-left-sidebar.html">Products Sidebar Left</a></li>
            <li><a href="product-list-right-sidebar.html">Products Sidebar Right</a></li>
            <li class="listHeading">Others</li>
            <li><a href="single-product.html">Single Product</a></li>
            <li><a href="cart-page.html">Cart Page</a></li>
          </ul>
        </li>
        <li class="col-md-3 col-12">
          <ul class="list-unstyled">
            <li>Checkout</li>
            <li><a href="checkout-step-1.html">Step 1 - Shipping</a></li>
            <li><a href="checkout-step-2.html">Step 2 - Payment</a></li>
            <li><a href="checkout-step-3.html">Step 3 - Review</a></li>
            <li><a href="checkout-step-4.html">Step 4 - Complete</a></li>
          </ul>
        </li>
        <li class="col-md-3 col-12">
          <a href="#" class="menu-photo"><img th:src="@{/static/img/menu-photo.jpg}" alt="menu-img"></a>
        </li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">pages</a>
      <ul class="dropdown-menu dropdown-menu-left">
        <li><a href="about-us.html">About Us</a></li>
        <li><a href="signup.html">Register</a></li>
        <li><a href="signup-login.html">Register or Login</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="lost-password.html">Password Recovery</a></li>
        <li><a href="privacy-policy.html">Privacy Policy</a></li>
        <li><a href="terms-and-conditions.html">Terms &amp; Conditions</a></li>
        <li><a href="404.html">404 Not Found</a></li>

        <li><a href="coming-soon.html">Coming Soon</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">blog</a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="blog-right-sidebar.html">Right Sidebar</a></li>
        <li><a href="blog-left-sidebar.html">Left Sidebar</a></li>
        <li><a href="blog-fullwidth.html">Full Width</a></li>
        <li><a href="blog-single-fullwidth.html">Single Post</a></li>
        <li><a href="blog-single-right-sidebar.html">Single Right Sidebar</a></li>
        <li><a href="blog-single-left-sidebar.html">Single Left Sidebar</a></li>
      </ul>
    </li>
    <!-- /* Login */ -->
    <li sec:authorize="!isAuthenticated()" class="nav-item">
      <a th:href="@{/login}" class="nav-link" role="button"
         aria-haspopup="true" aria-expanded="false"
         th:text="#{menu.login}"></a>
    </li>
    <!--/* Mypage */-->
    <!--/* [[${#httpServletRequest.requestURI}]] */-->
    <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
      <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
         aria-haspopup="true" aria-expanded="false"
         th:text="#{menu.mypage}"></a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li>
          <a th:href="@{/mypage}"
             th:text="#{title.mypage}"></a>
        </li>
        <li>
          <a th:href="@{/mypage/profile}"
             th:text="#{menu.mypage.profile}"></a>
        </li>
        <li><a href="account-all-orders.html">All Orders</a></li>
        <li><a href="account-single-order.html">Single Order</a></li>
        <li><a href="account-wishlist.html">Wishlist</a></li>
        <li><a href="account-address.html">Address</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown megaDropMenu ">
      <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false">Components</b></a>
      <ul class="dropdown-menu row">
        <li class="col-md-4 col-12">
          <ul class="list-unstyled">
            <li>Basic Elements</li>
            <li class=""><a href="basic-accordions.html">Accordions</a></li>
            <li class=""><a href="basic-alert.html">Alert</a></li>
            <li class=""><a href="basic-badge.html">Badge</a></li>
            <li class=""><a href="basic-buttons.html">Buttons </a></li>
            <li class=""><a href="basic-buttons-group.html">Button Group</a></li>
            <li class=""><a href="basic-card.html">Cards</a></li>
          </ul>
        </li>
        <li class="col-md-4 col-12">
          <ul class="list-unstyled">
            <li>Basic Elements</li>
            <li class=""><a href="basic-countdown.html">Countdown </a></li>
            <li class=""><a href="basic-divider.html">Divider </a></li>
            <li class=""><a href="basic-forms.html">Forms</a></li>
            <li class=""><a href="basic-heading.html">Heading </a></li>
            <li class=""><a href="basic-icon-style.html">Icon Style </a></li>
            <li class=""><a href="basic-iconset.html">Iconset (Font Awesome)</a></li>
          </ul>
        </li>
        <li class="col-md-4 col-12">
          <ul class="list-unstyled">
            <li>Basic Elements</li>
            <li class=""><a href="basic-modal.html">Modal </a></li>
            <li class=""><a href="basic-progressbar.html">Progressbar</a></li>
            <li class=""><a href="basic-tables.html">Tables </a></li>
            <li class=""><a href="basic-tabs.html">Tabs</a></li>
            <li class=""><a href="basic-typography.html">Typography </a></li>
            <li class=""><a href="basic-video.html">Video </a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
<!--/* NAVBAR(WHITE HEADER) */-->

</html>
