<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- TOPBAR -->
<div class="topBar">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-none d-md-block">
        <!--/*
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
          </ul>
        */-->
      </div>
      <div class="col-md-6 col-12">
        <ul class="list-inline float-right top-right">
          <li class="searchBox">
            <a href="#"><i class="fa fa-search"></i></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <span class="input-group">
                  <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon2">
                  <button type="submit" class="input-group-addon">Submit</button>
                </span>
              </li>
            </ul>
          </li>
          <li class="account-login">
                <span>
                  <th:block sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}" th:text="#{menu.login}"></a>
                    <small>or</small>
                    <a th:href="@{/member/register}" th:text="#{menu.member.register}"></a>
                    <!--/*
                      <a data-toggle="modal" href='.login-modal'>
                        Log in
                      </a>
                      <small>or</small>
                      <a data-toggle="modal" href='#signup'>
                        Create an account
                      </a>
                    */-->
                  </th:block>
                  <th:block sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}" th:text="#{menu.logout}"></a>
                    <small>or</small>
                    <a th:href="@{/mypage}" th:text="#{menu.mypage}"></a>
                  </th:block>
                </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

</html>
