<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

  <!-- SITE TITTLE -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>

  <!-- PLUGINS CSS STYLE -->
  <link th:href="@{/static/plugins/jquery-ui/jquery-ui.css}" rel="stylesheet">
  <link th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/static/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
  <link th:href="@{/static/plugins/selectbox/select_option1.css}" rel="stylesheet">
  <link th:href="@{/static/plugins/iziToast/css/iziToast.css}" rel="stylesheet">
  <link th:href="@{/static/plugins/fancybox/jquery.fancybox.min.css}" rel="stylesheet">
  <link th:href="@{/static/plugins/rs-plugin/css/settings.css}" rel="stylesheet" type="text/css" media="screen">
  <link th:href="@{/static/plugins/slick/slick.css}" rel="stylesheet" type="text/css" media="screen">
  <link th:href="@{/static/plugins/slick/slick-theme.css}" rel="stylesheet" type="text/css" media="screen">

  <!-- BIGBAG STORE CUSTOM CSS -->
  <link th:href="@{/static/css/style.css}" rel="stylesheet">
  <link th:href="@{/static/css/default.css}" rel="stylesheet" id="option_color">

  <!-- Banaru Custom -->
  <link th:href="@{/static/custom-css/banaru_custom.css}" rel="stylesheet"/>

  <!-- Icons -->
  <link th:href="@{/static/img/favicon.png}" rel="shortcut icon">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body class="body-wrapper version2">
<!-- Preloader -->
  <div id="preloader" class="smooth-loader-wrapper">
    <div class="preloader_container">
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
    </div>
  </div>


  <div class="main-wrapper">

    <template layout:fragment="header"></template>

    <!-- LIGHT SECTION -->
    <template layout:fragment="breadcrumb"></template>

    <!-- MAIN CONTENT SECTION -->
    <template layout:fragment="content"></template>

    <template layout:fragment="footer"></template>

  </div>

  <!--/*-->
    <!-- LOGIN MODAL -->
    <template th:replace="~{/modal/login_modal}"></template>

    <!-- SIGN UP MODAL -->
    <template th:replace="~{/modal/signup_modal}"></template>
  <!--*/-->

  <!-- PRODUCT QUICK VIEW MODAL -->
  <template th:replace="~{/modal/product_quick_view_model}"></template>


  <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
  <script th:src="@{/static/plugins/jquery/jquery-migrate-3.0.0.min.js}"></script>
  <script th:src="@{/static/plugins/jquery-ui/jquery-ui.js}"></script>
  <script th:src="@{/static/plugins/bootstrap/js/popper.min.js}"></script>
  <script th:src="@{/static/plugins/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/static/plugins/rs-plugin/js/jquery.themepunch.tools.min.js}"></script>
  <script th:src="@{/static/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js}"></script>
  <script th:src="@{/static/plugins/slick/slick.js}"></script>
  <script th:src="@{/static/plugins/fancybox/jquery.fancybox.min.js}"></script>
  <script th:src="@{/static/plugins/iziToast/js/iziToast.js}"></script>
  <script th:src="@{/static/plugins/prismjs/prism.js}"></script>
  <script th:src="@{/static/plugins/selectbox/jquery.selectbox-0.1.3.min.js}"></script>
  <script th:src="@{/static/plugins/countdown/jquery.syotimer.js}"></script>
  <script th:src="@{/static/plugins/velocity/velocity.min.js}"></script>
  <script th:src="@{/static/js/custom.js}"></script>

  <!-- Banaru Custom Plugin Javascript -->
  <script th:src="@{/static/custom-plugins/parsleyjs/parsley.min.js}"></script>
  <script th:src="@{/static/custom-js/banaru_custom.js}"></script>

</body>
</html>

