<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base_layout}">

<head>
  <title layout:title-pattern="$LAYOUT_TITLE: $CONTENT_TITLE" th:text="#{title.app}"></title>
</head>

<body>

<!-- Header -->
<template layout:fragment="header" th:replace="~{include/header}"></template>

<!-- Footer -->
<template layout:fragment="footer" th:replace="~{include/footer}"></template>

</body>

</html>
