<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/base_layout}">

<head>
<title layout:title-pattern="$LAYOUT_TITLE: $CONTENT_TITLE"
  th:text="#{title.app}"></title>
</head>

<body>

  <!-- Header -->
  <template layout:fragment="header" th:replace="~{include/header}">
  </template>

  <!-- /* breadcrumb */ -->
  <section layout:fragment="breadcrumb"
    class="lightSection clearfix pageHeader">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="page-title">
            <h2 th:text="${title}"></h2>
          </div>
        </div>
        <div class="col-md-6">
          <ol class="breadcrumb float-right">
            <li>
              <a th:href="@{/}">Home</a>
            </li>
            <li>1</li>
            <li th:text="#{title.mypage}"></li>
            <li>2</li>
            <li class="active" th:text="${title}"></li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section layout:fragment="content"
    class="mainContent clearfix userProfile">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <div class="btn-group" role="group" aria-label="...">
            <!-- TODO get request URL from global interceptor -->
            <a href="account-dashboard.html"
              class="btn btn-default active">
              <i class="fa fa-th" aria-hidden="true"></i>Account Dashboard
            </a>
            <a href="account-profile.html" class="btn btn-default">
              <i class="fa fa-user" aria-hidden="true"></i>Profile
            </a>
            <a href="account-address.html" class="btn btn-default">
              <i class="fa fa-map-marker" aria-hidden="true"></i>My Address
            </a>
            <a href="account-all-orders.html" class="btn btn-default">
              <i class="fa fa-list" aria-hidden="true"></i>All Orders
            </a>
            <a href="account-wishlist.html" class="btn btn-default">
              <i class="fa fa-gift" aria-hidden="true"></i>Wishlist
            </a>
          </div>
        </div>
      </div>

      <!-- /* Mypage Contents */ -->
      <div class="row">
        <div class="col-md-12">
            <template layout:fragment="mypage_content"></template>
        </div>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <template layout:fragment="footer" th:replace="~{include/footer}">
  </template>

</body>

</html>
