<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mypage_layout}"
      th:with="title=#{title.mypage}">

<head>

  <title th:text="#{title.mypage}"></title>

  <style></style>

  <script type="text/javascript">
  </script>

</head>

<body>

<div layout:fragment="mypage_content"
     class="innerWrapper profile">

  <div class="row">
    <div class="col-md-12">
      <div class="innerWrapper profile">
        <div class="orderBox">
          <h2>profile</h2>
        </div>
        <div class="row">
          <div class="col-md-4 col-lg-3 col-xl-2 col-12">
            <div class="thumbnail">
              <img src="img/products/profile/profile-image.jpg" alt="profile-image">
              <div class="caption">
                <a href="#" class="btn btn-primary btn-block" role="button">Change Avatar</a>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-9 col-xl-10 col-12">
              <form class="form-horizontal">
                <div class="form-group row">
                  <label for="" class="col-md-3 control-label">First Name</label>
                  <div class="col-md-7">
                    <input type="text" class="form-control" id="" placeholder="Adam">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="" class="col-md-3 control-label">Last Name</label>
                  <div class="col-md-7">
                    <input type="text" class="form-control" id="" placeholder="Smith">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="" class="col-md-3 control-label">Phone Number</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" id="" placeholder="+884 5452 6432">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="" class="col-md-3 control-label">Email Address</label>
                  <div class="col-md-9">
                    <input type="email" class="form-control" id="" placeholder="adamsmith@bigbag.com">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="" class="col-md-3 control-label">Password</label>
                  <div class="col-md-9">
                    <input type="password" class="form-control" id="" placeholder="***********">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="" class="col-md-3 control-label">New Password</label>
                  <div class="col-md-9">
                    <input type="password" class="form-control" id="" placeholder="***********">
                  </div>
                </div>
                <div class="form-group row">
                  <div class=" col-md-12 ">
                    <button type="submit" class="btn btn-primary float-right">SAVE INFO</button>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

</body>

</html>
