<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mypage_layout}">

<head>

  <!--<title th:text="#{title.login}"></title>-->

</head>

<body>

<div layout:fragment="mypage_content" class="container">

  test
</div>
<!-- /mypage_content -->

</body>

</html>
