<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<head>
  <title th:text="#{title.member.registration.confirm}"></title>
</head>

<body>

<div layout:fragment="content" class="container">

  <form class="form-horizontal" th:action="@{/member/register/confirm}" th:object="${MEMBER_REGISTER_FORM}"
        method="post">

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <h2 class="form-signin-heading">Please sign in</h2>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" th:text="#{label.member.id}"></label>
      <div class="col-sm-10 control-confirm">
        [(*{memberId})]
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" th:text="#{label.password}"></label>
      <div class="col-sm-10 control-confirm">
        *********
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" th:text="#{label.name}"></label>
      <div class="col-sm-10 control-confirm">
        [(*{name.name1})]
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" th:text="#{label.email}"></label>
      <div class="col-sm-10 control-confirm">
        [(*{email})]
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" th:text="#{label.birthday}"></label>
      <div class="col-sm-1 control-confirm">
        [(*{birthday.year})] [(#{label.year})]
      </div>
      <div class="col-sm-1 control-confirm">
        [(*{birthday.month})] [(#{label.month})]
      </div>
      <div class="col-sm-1 control-confirm">
        [(*{birthday.day})] [(#{label.day})]
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" th:text="#{label.gender}"></label>
      <div class="col-sm-2 control-confirm">
        [(*{gender})]
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" th:text="#{label.phoneNo}"></label>
      <div class="col-sm-10 control-confirm">
        [(*{phoneNo})]
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-lg btn-primary" th:text="#{btn.next}"></button>
        <a href="javascript:history.back()" class="btn btn-lg btn-warning" th:text="#{btn.back}"></a>
      </div>
    </div>

  </form>

</div> <!-- /container -->

</body>

</html>
