<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<head>
  <title th:text="#{title.member.registration.input}"></title>

  <script th:src="@{/custom-js/date_select.js}"></script>

  <script layout:fragment="custom_script" type="text/javascript">

    window.Parsley.addValidator('match', {
      requirementType: 'string',
      validateString: function (value) {
        return value === $('input[name="password"]').val();
      }
    });

    window.Parsley.addValidator('idvalue', {
      requirementType: 'string',
      validateString: function (value) {
        return value !== $('input[name="member_id"]').val();
      }
    });

    $(function () {
      BUtils.injectValidation($('#register_form'), [(${MEMBER_REGISTER_FORM.constraintJson})]);

      initDateSelect('birthday.year', 'birthday.month', 'birthday.day');
      $('#birthday\\.year').val($('#init_year').val());
      $('#birthday\\.month').val($('#init_month').val());
      $('#birthday\\.day').val($('#init_day').val());
    });

  </script>
</head>

<body>

<div layout:fragment="content" class="container">

  <form id="register_form" class="form-horizontal" th:action="@{/member/register/input}"
        th:object="${MEMBER_REGISTER_FORM}" method="post">

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <h2 class="form-signin-heading">Please sign in</h2>
        <div th:if="${#fields.hasErrors('all')}" class="alert alert-danger" role="alert">
          <a href="#" class="alert-link">...</a>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">[(#{label.member.id})]</label>
      <div class="col-sm-10">
        <input type="text" th:field="*{memberId}" class="form-control" placeholder="ID">
        <div class="form-server-errors" data-server-errors="memberId" th:each="err : ${#fields.errors('memberId')}"
             th:text="${err}">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">[(#{label.password})]</label>
      <div class="col-sm-10">
        <input type="password" th:field="*{password}" class="form-control" placeholder="Password"
               data-parsley-idvalue
               th:data-parsley-idvalue-message="#{error.duplicated.password.with.member.id}"/>
        <div class="form-server-errors" data-server-errors="password" th:each="err : ${#fields.errors('password')}"
             th:text="${err}"></div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">[(#{label.password.confirm})]</label>
      <div class="col-sm-10">
        <input type="password" th:field="*{confirmPassword}" class="form-control" placeholder="Confirm Password"
               data-parsley-match
               th:data-parsley-match-message="#{error.not.match.password}"/>
        <div class="form-server-errors" data-server-errors="confirmPassword"
             th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">[(#{label.country})]</label>
      <div class="col-sm-10">
        <select th:field="*{memberCountryCode}" class="form-control">
          <option
            th:each="country: ${global.supportedCountries}"
            th:value="${country.countryCode}"
            th:text="${country.displayName}">
          </option>
        </select>
        <div class="form-server-errors" data-server-errors="memberCountryCode"
             th:each="err : ${#fields.errors('memberCountryCode')}"
             th:text="${err}"></div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">[(#{label.name})]</label>
      <div class="col-sm-10">
        <input type="text" th:field="*{name.name1}" class="form-control" placeholder="Name">
        <div class="form-server-errors" data-server-errors="name.name1"
             th:each="err : ${#fields.errors('name.name1')}"
             th:text="${err}"></div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">[(#{label.email})]</label>
      <div class="col-sm-10">
        <input type="email" th:field="*{email}" class="form-control" placeholder="E-mail">
        <div class="form-server-errors" data-server-errors="email" th:each="err : ${#fields.errors('email')}"
             th:text="${err}"></div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">[(#{label.birthday})]</label>
      <div class="col-sm-2">
        <select th:field="*{birthday.year}" class="form-control"></select>
        <div class="form-server-errors" data-server-errors="year" th:each="err : ${#fields.errors('birthday.year')}"
             th:text="${err}"></div>
        <input type="hidden" id="init_year" th:value="*{birthday.year}"/>
      </div>
      <div class="col-sm-1">
        <select th:field="*{birthday.month}" class="form-control"></select>
        <div class="form-server-errors" data-server-errors="month" th:each="err : ${#fields.errors('birthday.month')}"
             th:text="${err}"></div>
        <input type="hidden" id="init_month" th:value="*{birthday.month}"/>
      </div>
      <div class="col-sm-1">
        <select th:field="*{birthday.day}" class="form-control"></select>
        <div class="form-server-errors" data-server-errors="day" th:each="err : ${#fields.errors('birthday.day')}"
             th:text="${err}"></div>
        <input type="hidden" id="init_day" th:value="*{birthday.day}"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">[(#{label.gender})]</label>
      <div class="col-sm-2">
        <select th:field="*{gender}" class="form-control">
          <option th:each="gender: ${T(net.banaru.team.service.enums.Gender).values()}" th:value="${gender}">
            [(${gender})]
          </option>
        </select>
        <div class="form-server-errors" data-server-errors="gender" th:each="err : ${#fields.errors('gender')}"
             th:text="${err}"></div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">[(#{label.phoneNo})]</label>
      <div class="col-sm-10">
        <input type="text" th:field="*{phoneNo}" class="form-control" placeholder="Phone Number">
        <div class="form-server-errors" data-server-errors="phoneNo" th:each="err : ${#fields.errors('phoneNo')}"
             th:text="${err}"></div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-lg btn-primary">[(#{btn.next})]</button>
      </div>
    </div>

  </form>

</div> <!-- /container -->

</body>

</html>
