<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" th:href="@{/}">Banaru</a>
    </div>

    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#about">About</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          Dropdown
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="#">Action</a>
          </li>
          <li>
            <a href="#">Another action</a>
          </li>
          <li>
            <a href="#">Something else here</a>
          </li>
          <li class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li>
            <a href="#">Separated link</a>
          </li>
          <li>
            <a href="#">One more separated link</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">

      <!--/* Non Member Menu */-->
      <th:block sec:authorize="!isAuthenticated()">
        <li>
          <a th:href="@{/login}" th:text="#{menu.login}"></a>
        </li>
        <li>
          <a th:href="@{/member/register}" th:text="#{menu.member.register}"></a>
        </li>
      </th:block>

      <!--/* Member Menu */-->
      <th:block sec:authorize="isAuthenticated()">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a th:href="@{/mypage}" th:text="#{menu.mypage}"></a>
            </li>
            <li>
              <a href="#">Another action</a>
            </li>
            <li>
              <a href="#">Something else here</a>
            </li>
            <li class="divider"></li>
            <li>
              <a th:href="@{/logout}" th:text="#{menu.logout}"></a>
            </li>
          </ul>
        </li>
      </th:block>

      <!--/* Language Dropdown */-->
      <template th:replace="include/language_dropdown"></template>

    </ul>

  </div>

</nav>

</html>
