<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<li class="dropdown">
  <a href="#"
     class="dropdown-toggle"
     data-toggle="dropdown"
     role="button"
     aria-expanded="false">
    [(#{menu.language})]
    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li th:each="lang : ${#request.getAttribute('global').getSupportedLanguages()}">
      <a th:href="@{${#request.getRequestURI()} + '?lang=' + ${lang.langCode}}" th:text="${lang.name}"></a>
    </li>
  </ul>
</li>

</html>
